{% load static %}
<header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a id="btn-start" class="nav-link scrollto"><i class="bx bx-video"></i> <span>Start Detector</span></a></li>
        <li><a id="btn-stop" class="nav-link scrollto"><i class="bx bx-video-off"></i> <span>Stop Detector</span></a></li>
        <li><a id="go-back" class="nav-link scrollto"><i class="bx bx-arrow-back"></i> <span>Back</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->